// Main colors
$background-color: #122238;
$primary-color: #00aae9;
$text-color: #ddd;
$dark-grey: #222;

// Shades of blue
$medium-blue: #005293;
$light-blue: #3ba8e8;
$navy-blue: #1e2f4f;
$gradient-start-blue: #1CB5E0;
$gradient-finish-blue: #0044cc;

// Other complementary colors
$yellow: #ffcb05;
$green: #36b766;  
$raspberry-red: #ef4662;
$dark-red: #a60000;
$white: #fff;
